.santa-image {
    width: 40%;
    float: left;
}

.santa-image img {
    width: 100%;
}

.santa-tweets {
    width: 55%;
    margin-left: 10px;
    float: left;
}

h1.title {
    color: #eee;
    font-size: 50px;
    text-shadow: 2px 2px black;
}


.private-letter{
    float:left;
    width:571px;
    height:88px;
    line-height:115px;
    margin-right:30px;
    text-align:right;
    padding-right:30px;
    color:#383838;
    margin:auto;
    text-shadow:1px 1px 1px #fff;
    font-family:"Chunk Five";
    font-size:1.91em;
    font-weight:normal;
}

.uploadcare-logo img {
    max-width: 100%;
}
