a {
    color: #00cf70;
    text-decoration: none;
    cursor: pointer;
}

a:hover {
    color: black;
}

a.btn-buy-now {
    display: inline-block;
}
a.btn-buy-now:hover {
    color: white;
}

.santa-image {
    width: 40%;
    float: left;
    min-width: 280px;
}

.santa-image img {
    width: 100%;
}

.santa-tweets {
    width: 55%;
    margin-left: 10px;
    float: left;
    text-align: center;
    min-width: 280px;
}

h1.title {
    color: #eee;
    font-size: 50px;
    text-shadow: 2px 2px black;
}

h1.title a {
    color: #fec142;
}

h1.title a:hover {
    color: #00cf70;
}

.private-letter{
    float:left;
    width: 280px;
    height:88px;
    line-height:115px;
    margin-right:20px;
    text-align:right;
    padding-right:30px;
    color:#383838;
    margin:auto;
    text-shadow:1px 1px 1px #fff;
    font-family:"Chunk Five";
    font-size:1.51em;
    font-weight:normal;
}

.uploadcare-logo img {
    max-width: 100%;
}

.go-ahead {
    color:#383838;
    text-shadow:1px 1px 1px #fff;
    font-family:"Chunk Five";
    font-size:1.91em;
    font-weight:normal;
}
.col2 {
    margin-top: 0.3em;
}

.start-for-free {
    padding: 0.5em 1em;
    background: #00cf70;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    border-radius: 100px;
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}

.share-buttons{
    list-style: none;
    position: fixed;
    top: 10px;
    left: 10px;
    width: 40px;
}

.share-buttons li{
    display: inline;
}

.share-buttons li a:after {
    content: "Share this page!";
    color: white;
    font-size: 15px;
    position: absolute;
    width: 150px;
    height: 0px;
    text-align: left;
    padding-left: 0px;
    top: 80px;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    line-height: 30px;
    display: none;
    text-shadow:1px 1px 1px #333;
    font-family:"Chunk Five";
    font-size:1.51em;
    font-weight:normal;
}

.share-buttons:hover li a:after {
    display: block;
}
